* {
    font-family: Terminus;
    font-size: 13px;
}

window#waybar {
    background-color: #000000;
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#clock{
  color: #ff0000;
}

#cpu{
  color: #ff00ff;
}

#network{
  color: #2e4ad9;
}

#memory{
  color: #ffff00;
}

#temperature{
  color: #800000;
}

#language{
  color: #008000;
}

#pulseaudio{
  color: #7986c7;
}
